annotated-types==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
dask==2024.6.2
dask-expr==1.1.6
duckdb==1.0.0
fsspec==2024.6.0
idna==3.7
locket==1.0.0
loguru==0.7.2
multimethod==1.10
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pandera==0.19.3
partd==1.4.2
polars==0.20.31
py4j==0.10.9.7
pyarrow==16.1.0
pydantic==2.7.4
pydantic_core==2.18.4
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
toolz==0.12.1
typeguard==4.3.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
win32-setctime==1.1.0
wrapt==1.16.0
